{lib_dirs,["deps"]}.
{sub_dirs, ["rel"]}.

{deps, [
    {lager, "2.0", {git, "git://github.com/basho/lager", {tag, "3.2.1"}}},
    {antidote_pb_codec, ".*", {git, "https://github.com/peterzeller/antidote_pb_codec.git", {ref, "98b964df5fe87d01a89b23112d81c998422337fd"}}}
]}.

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.
